

@font-face {
    font-family: 'pacifico';
    src: url('../fonts/pacifico/pacifico-webfont.woff2') format('woff2'),
         url('../fonts/pacifico/pacifico-webfont.woff') format('woff'),
         url('../fonts/pacifico/pacifico.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'old_standard';
    src: url('../fonts/OldStandard/oldstandard-regular-webfont.woff2') format('woff2'),
         url('../fonts/OldStandard/oldstandard-regular-webfont.woff') format('woff'),
         url('../fonts/OldStandard/oldstandard.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway';
    src: url('../fonts/raleway/raleway-regular-webfont.woff2') format('woff2'),
         url('../fonts/raleway/raleway-regular-webfont.woff') format('woff'),
         url('../fonts/raleway/raleway.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-light';
    src: url('../fonts/raleway/Raleway-Light.ttf') format('ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'glyphs';
  src:  url('../fonts/glyphs/icomoon.eot?v65uyt');
  src:  url('../fonts/glyphs/icomoon.eot?v65uyt#iefix') format('embedded-opentype'),
    url('../fonts/glyphs/icomoon.ttf?v65uyt') format('truetype'),
    url('../fonts/glyphs/icomoon.woff?v65uyt') format('woff'),
    url('../fonts/glyphs/icomoon.svg?v65uyt#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}
$pacifico:"pacifico";
$oldstandard:"old_standard";
$raleway:"raleway","Helvetica",Arial,sans-serif;
$glyphs:"glyphs";
$lightRaleway:"raleway-light";
