/* BLOGBEAUTY
*
* /sass/object/header.scss - non design header stylesheet
*
* coded by Dylan Schirino
* started at 19/07/2016
*/

.header{
  &__banner{
    height:24em;
  }
  &__subtitle{
    text-align: center;
    margin-top:1.9em;
  }
  &__menu{
    height: 8.7em;
  }
}

.menu{
  &__link{
    display:inline-block;
  }
  &__sublink{
    margin-left: 2em;
  }
  &__container{
    width: 65em;
    margin: auto;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
  &__form{
    position: relative;
    margin-top: -1.7em;
  }
  &__drophover{
    display: inline-block;
  }
  &__dropdown{
    position: absolute;
    width:15em;
    margin-top: 2em;
  }
}

.form{
  &::after{
    content:"";
    display: block;
    clear: both;
  }
  &__input{
    float:right;

  }
  &__submit{
    position: absolute;
    right:0px;
    top:0px;
  }
}
