/* BLOGBEAUTY
*
* /sass/object/instagram.scss - NON design of the Instagram section stylesheet
*
* coded by Dylan Schirino
* started at 01/08/2016
*/
.instagram{
  height: 20em;
  margin-bottom: 5.4em;
  &__title{
    margin-left: 8.6em;
  }
}
