/* BLOGBEAUTY
*
* /sass/object/categorie.scss - NON design of the Categorie section stylesheet
*
* coded by Dylan Schirino
* started at 12/08/2016
*/

.categorie{
  width: 62em;
  margin-top: 7em;
  &__decoration{
    display: block;
    margin: auto;
    margin-bottom: 10em;
  }
}
