/* BLOGBEAUTY
*
* /sass/object/contact.scss - design of the Contact section stylesheet
*
* coded by Dylan Schirino
* started at 01/08/2016
*/

.contact{
  width: 58.9em;
  margin:5em 0 0 16.8em;
  &::after{
    content: "";
    overflow: hidden;
    clear: both;
  }
  &__img{
    float: left;
    margin-right: 8.1em;
  }
  &__explain{
    width:40em;
  }
}

.formulaire{
  &::after{
    content: "";
    overflow: hidden;
    clear: both;
  }
  &__container{
    width:92.7em;
    margin:3.8em auto;
    & input:not(.formulaire__submit){
      display: block;
      width: 65%;
      height: 2.8125em;
      margin-bottom:1.6875em;
    }
    & textarea{
      width: 65%;
      min-height: 16em;
    }
  }
  &__submit{
    width: 9.5em;
    height: 2.75em;
    margin-top: 2em;
  }
}

@media screen and (max-width:962px) {
  .contact{
    width: 90%;
    margin: auto;
    &__explain{
      width: 100%;
    }
  }

  .formulaire{
    &__container{
      width: 90%;
      margin: 2em auto;
    }
  }

}


@media screen and (max-width:540px) {
  .formulaire{
    &__container{
      & textarea{
        width: 96%;
      }
      & input{
        width: 95% !important;
      }
    }
  }
  .contact{
    &__img{
      display: block;
      float: none;
      margin: auto;
    }
    &__subtitle{
      text-align: center;
    }
  }

}
