/* BLOGBEAUTY
*
* /sass/object/header.scss - non design header stylesheet
*
* coded by Dylan Schirino
* started at 19/07/2016
*/

.header{
  &__banner{
    height:24em;
  }
  &__subtitle{
    text-align: center;
    margin-top:1.9em;
  }
  &__menu{
    min-height: 8.7em;
  }
}
@media screen and (max-width:1160px){
  .header{
    &__subtitle{
      margin-top: 1.7em;
    }
  }
}

.menu{
  &__link{
    display:inline-block;
  }
  &__sublink{
    margin-left: 2em;
  }
  &__container{
    width: 65em;
    margin: auto;
    &::after{
      content: "";
      display: block;
      clear: both;
    }
  }
  &__form{
    position: relative;
    margin-top: -1.7em;
  }
  &__drophover{
    display: inline-block;
  }
  &__dropdown{
    position: absolute;
    width:15em;
    z-index: 111;
  }
  &__hamburger{
    display:none;
  }
}

.form{
  &::after{
    content:"";
    display: block;
    clear: both;
  }
  &__input{
    float:right;
    position: relative;
  }
  &__submit{
    width: 1.7em;
    height: 1.7em;
    position: absolute;
    right:0px;
    top:0px;
  }
}

@media screen and (max-width:666px) {
  .menu{
    &__link{
      display: block;
    }
    &__container{
      width: 100%;
    }
    &__sublink{
      margin-left: 0;
    }
    &__drophover{
      display: block;
    }
    &__dropdown{
      display: block;
      width: 100%;
    }
    &__form{
      display: none;
    }
    &__burger{
      display: none;
      margin-top:2em;
    }
    &__hamburger{
      display: none;
    }
    &__show{
      width: 1em;
      height: 1em;
      display: block;
      margin: auto;
    }
  }
  .menu__hamburger:checked ~ .menu__burger{
    display: block;
  }
}
