/* BLOGBEAUTY
*
* /sass/object/search.scss - NON design of the Search section stylesheet
*
* coded by Dylan Schirino
* started at 02/08/2016
*/
.moreArticleSearch{
  &__article{
    &--search{
      margin-left: 3.7em;
      min-height: 20em;
      margin-top: 3em
    }
  }
  &__pagination{
    &--search{
      width:100%;
      margin-left: 3.7em;
      padding-bottom: 2.7em;
    }
  }
}
.search{
  width: 62.3em;
  margin: 7em auto;
  &__keyword{
    width: 16em;
    height: 2.75em;
    margin-left: 2.4em;
  }
}

@media screen and (max-width:970px) {
  .search{
    width: 90%;
    margin: auto;
    &__title{
      text-align: center;
      margin: 0;
    }
    &__keyword{
      margin: 0 auto;
    }
  }
  .moreArticle{
    &--search{
      text-align: center;
    }
    &__article{
      &--search{
        margin-left:0;
      }
    }
  }
}

@media screen and (max-width:826px) {
  .moreArticle{
    &__pagination{
      &--search{
        margin: 0;
        font-size: 0.8em;
      }
    }
  }
}

@media screen and (max-width:335px) {
  .search{
    &__title{
    padding:0;
    }
  }
  .moreArticleSearch{
    &__article{
      &--search{
        width: 100%;
        height: auto;
        margin-left: auto;
        margin-right: auto;
      }
    }
    &__element{
      &--comment{
        padding-top:1em;
      }
    }
  }
}
