/* BLOGBEAUTY
*
* /sass/object/TextArticle.scss - NON design of the Text Article stylesheet
*
* coded by Dylan Schirino
* started at 02/08/2016
*/
.text{
  width: 63em;
  margin:5em 0 0 15em;
  position: relative;
  &__date{
    display: inline-block;
    width: 2.7142857143em;
  }
  &__containerDate{
    display: inline-block;
    width: 8em;
    height: 8em;
    position: absolute;
    left:-40px;
    top: 41px;
  }
  &__article,.commentary,.commentform{
    margin-left: 5.9em;
  }
  & p{
    width: 32em;
  }
  &__share{
    float: right;
    position: relative;
    left: 50px;
  }
  & img{
    width:30em;
    height: auto;
  }
}

.commentary{
  margin-bottom: 6.3em;
  &__container{
    width: 42.4em;
  }
}

.commentform{
  width: 45.4em;
  &::after{
    content: "";
    display: block;
    clear: both;
  }
  &__left{
    float: left;
  }
  &__right{
    float: right;
  }
  &__input{
    display:block;
    width: 12.25em;
    height: 2.8125em;
    margin:0.7em 0 2em 0;
    &--textarea{
      width: 99%;
      min-height: 9.6875em;
    }
  }
  &__submit{
    float: right;
    width: 10.625em;
    height: 2.75em;
    margin-bottom: 3.125em;
  }
}


/***********************************
            MEDIAQUERIES
***********************************/

@media screen and (max-width:1156px) {
  .text{
    margin-left: 8em;
  }
}
@media screen and (max-width:1056px) {
  .text{
    margin-left: 4em;
  }

}
@media screen and (max-width:978px) {
  .text{
    margin: 0;
    width: 80%;
    margin: auto;
    &__article,.commentary,.commentform{
      margin-left: 0em;
    }
    & h3{
      text-align: center;
    }
    & p{
      width: 80%;
      margin: auto;
    }
    & img{
      display: block;
      margin: auto;
    }
  }

  .commentary{
    &__title{
      text-align: center;
    }
    &__container{
      width: 80%;
      margin: auto;
    }
  }
  .commentform{
    width: 100%;
    margin: auto;
    &__title{
      text-align: center;
    }
    &__left,&__right{
      float: none;
    }
    &__label{
      display: block;
      text-align: center;
      margin-top: 2em;
    }
    &__input{
      width: 80%;
      margin: auto;
    }
    &__submit{
      float: right;
      margin: 2em 4.2em 2em 2em;
    }
  }
}

@media screen and (max-width:675px) {
  .text__article img{
      width: 100%;
      height: auto;
      display: block;
    }
}

@media screen and (max-width:565px) {
  .text{
    &__date{
      display: block;
      width: 100%;
    }
    &__share{
      float: none;
      position: static;
    }
    &__containerDate{
      display: block;
      position: static;
      margin: auto;
    }
  }
  .share{
    &__list{
    text-align: center;
    margin-top:1em;
    }
    &__element{
      &--inline{
        display: inline-block;
      }
    }
  }
}
