/* BLOGBEAUTY
*
* /sass/components/aside.scss - design Aside stylesheet
*
* coded by Dylan Schirino
* started at 28/07/2016
*/
.aside{
  background-color: $white;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.5);
  &__title{
    font:2.4em $oldstandard;
    text-align: center;
  }
  &__photo{
    display: block;
    margin:1em auto;
  }
  &__text{
    font-size: 1.4em;
    padding-top:0.6em;
  }
  &__element{
    text-align: center;
    &:hover .aside__link::before{
      background-color: $lightPink;
      color: $white;
      cursor: pointer;
    }
  }
  &__link{
    font-size:1.4em;
    font-family: $raleway;
    font-weight:lighter;
    color: $lightPink;
    &::before{
      display: block;
      font-family: $glyphs;
      font-size: 1.7em;
      text-align: center;
      margin-bottom:0.5882352941em;
      line-height: 2.4em;
      border-radius: 50%;
      border: 1px solid $lightPink;
    }
    &--twitter::before{
      content:"\e90a";
    }
    &--insta::before{
      content:"\e904";
    }
    &--hellocoton::before{
      content:"\e909";
    }
    &--facebook::before{
      content:"\e902";
    }
    &--pinterest::before{
      content:"\e908";
    }
  }
  &__keyword{
    padding: 0 2.0625em 1.625em 1.99em;
  }
}
.aside__keyword a {
  color: $lightDark;
  &:hover{
    text-decoration: underline;
  }
}
.aside__keyword .tag-link-position-1{
  font-size: 32px !important;
}
.aside__keyword .tag-link-position-7{
  color: $pink;
  font-weight: bolder;
}
