

$white:white;
$black:black;
$menuBckg:#F3ECEB;
$bodyBckg:#F6F6F6;
$lightDark:#333333;
$lightPink:#ECB7AC;
$pink:#C77083;
$blueTwitter:#4099FF;
$blueFacebook:#3D5B93;
$pinkCoton:#D30D66;
$inputColor:#C3BAB2;
