/* BLOGBEAUTY
 *
 * /sass/base/root.scss - ROOT stylesheet
 *
 * coded by Dylan Schirino
 * started at 19/07/2016
 */
body{
  font-size: 62.5%;
  background: url("../img/grid.png")repeat;
  opacity: 0.7;
}
p{
  font-family: $raleway;
  font-size: 1.6em;
}
a{
  text-decoration: none;
}
