/* BLOGBEAUTY
 *
 * /sass/styles.scss - Main stylesheet
 *
 * coded by Dylan Schirino
 * started at 19/07/2016
 */
@font-face {
  font-family: 'pacifico';
  src: url("../fonts/pacifico/pacifico-webfont.woff2") format("woff2"), url("../fonts/pacifico/pacifico-webfont.woff") format("woff"), url("../fonts/pacifico/pacifico.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'old_standard';
  src: url("../fonts/OldStandard/oldstandard-regular-webfont.woff2") format("woff2"), url("../fonts/OldStandard/oldstandard-regular-webfont.woff") format("woff"), url("../fonts/OldStandard/oldstandard.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway';
  src: url("../fonts/raleway/raleway-regular-webfont.woff2") format("woff2"), url("../fonts/raleway/raleway-regular-webfont.woff") format("woff"), url("../fonts/raleway/raleway.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'raleway-light';
  src: url("../fonts/raleway/Raleway-Light.ttf") format("ttf");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'glyphs';
  src: url("../fonts/glyphs/icomoon.eot?v65uyt");
  src: url("../fonts/glyphs/icomoon.eot?v65uyt#iefix") format("embedded-opentype"), url("../fonts/glyphs/icomoon.ttf?v65uyt") format("truetype"), url("../fonts/glyphs/icomoon.woff?v65uyt") format("woff"), url("../fonts/glyphs/icomoon.svg?v65uyt#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }

.hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/*Fin du reset de meyer*/
/* BLOGBEAUTY
 *
 * /sass/base/root.scss - ROOT stylesheet
 *
 * coded by Dylan Schirino
 * started at 19/07/2016
 */
body {
  font-size: 62.5%;
  background-color: #F6F6F6; }

p {
  font-family: "raleway", "Helvetica", Arial, sans-serif;
  font-size: 1.6em; }

a {
  text-decoration: none; }

/* BLOGBEAUTY
*
* /sass/object/header.scss - non design header stylesheet
*
* coded by Dylan Schirino
* started at 19/07/2016
*/
.header__banner {
  height: 24em; }

.header__subtitle {
  text-align: center;
  margin-top: 2.1em; }

.header__menu {
  height: 8.7em; }

.menu__link {
  display: inline-block;
  float: left; }

.menu__container {
  width: 65em;
  margin: auto; }
  .menu__container::after {
    content: "";
    display: block;
    clear: both; }

.menu__form {
  position: relative; }

.form::after {
  content: "";
  display: block;
  clear: both; }

.form__input {
  margin-left: 2.65em; }

.form__submit {
  float: right;
  position: absolute;
  right: 14px;
  top: 1px; }

/* BLOGBEAUTY
*
* /sass/object/aside.scss - non design Aside stylesheet
*
* coded by Dylan Schirino
* started at 28/07/2016
*/
.aside {
  width: 23.1em;
  float: right;
  margin-right: 8em;
  margin-top: 5.1em;
  position: relative; }
  .aside::after {
    content: "";
    display: block;
    clear: both; }
  .aside__title {
    margin-top: 1.58333em; }
  .aside__sticker {
    position: absolute;
    top: -20px;
    left: 35px; }
  .aside__text {
    width: 11.7em;
    margin: auto; }
  .aside__link {
    display: block; }
    .aside__link::before {
      width: 58px;
      height: 58px; }
  .aside__list {
    width: 20em; }
    .aside__list::after {
      content: "";
      display: block;
      clear: both; }
  .aside__element {
    margin-top: 2em;
    margin-left: 2.8em;
    margin-bottom: 2.9em; }
    .aside__element--left {
      float: left; }
    .aside__element--right {
      float: right; }
  .aside svg {
    position: absolute;
    left: -113px;
    bottom: 0; }

/* BLOGBEAUTY
*
* /sass/Object/mainArticle.scss - Non design of the Main Article stylesheet
*
* coded by Dylan Schirino
* started at 29/07/2016
*/
.article {
  width: 65em;
  margin: 5em 0 0 17em; }
  .article__share {
    position: relative;
    left: -12px;
    float: right; }

.latest__container {
  width: 53.1em; }

.latest__element--like, .latest__element--time {
  display: inline-block; }

.latest__text {
  margin: 2.1875em 4.5625em 2.1875em 0em;
  width: 29.0625em; }

.latest__button {
  display: block;
  width: 12.25em;
  height: 2.5em;
  margin: 3.25em 8.7em 0 8.7em; }

.imgcontainer__img {
  vertical-align: bottom; }

.list__sublist {
  display: inline-block; }

.sublist__element {
  display: inline-block; }

/* BLOGBEAUTY
*
* /sass/Object/discover.scss - Non design of the Discover section stylesheet
*
* coded by Dylan Schirino
* started at 29/07/2016
*/
.moreArticle {
  width: 91em;
  margin: auto; }
  .moreArticle__title {
    margin: 4em 0 2.04167em 1.2em; }
  .moreArticle__container {
    width: 25.6em;
    height: 20.2em; }
  .moreArticle__article {
    position: relative;
    width: 25.6em;
    height: 30em;
    overflow: hidden;
    display: inline-block;
    margin: 4.9em 0 0 3em; }
  .moreArticle__container {
    position: absolute;
    top: 0;
    left: -256px; }
  .moreArticle__theme {
    display: block;
    margin-top: 1.111em; }
  .moreArticle__text {
    width: 14em;
    margin: 0.8571428571em auto; }
  .moreArticle__button {
    margin: 0;
    display: block;
    margin: 1em auto; }
  .moreArticle__element {
    display: inline-block; }
  .moreArticle__pagination {
    width: 60em;
    margin: 5em auto; }

.pagination__list {
  display: inline-block; }

.pagination__element {
  display: inline-block;
  width: 2.5em;
  height: 2.5em;
  margin-left: 1.111em; }
  .pagination__element:last-child {
    margin-right: 1.8888em; }

/* BLOGBEAUTY
*
* /sass/object/instagram.scss - NON design of the Instagram section stylesheet
*
* coded by Dylan Schirino
* started at 01/08/2016
*/
/* BLOGBEAUTY
*
* /sass/object/header.scss - non design header stylesheet
*
* coded by Dylan Schirino
* started at 19/07/2016
*/
.header__banner {
  background: url("../img/banner.jpg") no-repeat center center;
  background-size: cover; }

.header__title {
  font-family: "pacifico";
  font-size: 4.8em;
  text-align: center;
  padding-top: 1.29166em; }

.header__subtitle {
  font-family: "old_standard";
  font-size: 2.4em;
  color: white; }

.header__menu {
  background-color: #F3ECEB; }

.menu__link {
  font-family: "raleway", "Helvetica", Arial, sans-serif;
  font-size: 1.6em;
  text-transform: uppercase;
  color: #333333;
  padding-right: 2.0625em; }

.menu__container {
  padding: 3.6em 0 3.2em 0; }

.menu__form {
  padding-left: 6.4em; }

.form__input {
  border: none;
  font: 1.4em "raleway", "Helvetica", Arial, sans-serif;
  background: none;
  color: black;
  padding-bottom: 7px;
  border-bottom: 1px solid #333333; }

.form__submit {
  width: 1.7em;
  height: 1.7em;
  border: none;
  background: none;
  background: url("../img/search.svg") no-repeat;
  transition: .2s ease-in-out; }
  .form__submit:hover {
    cursor: pointer;
    transform: rotate(60deg); }

/* BLOGBEAUTY
*
* /sass/components/aside.scss - design Aside stylesheet
*
* coded by Dylan Schirino
* started at 28/07/2016
*/
.aside {
  background-color: white;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5); }
  .aside__title {
    font: 2.4em "old_standard";
    text-align: center; }
  .aside__photo {
    display: block;
    margin: 1em auto; }
  .aside__text {
    font-size: 1.4em;
    padding-top: 0.6em; }
  .aside__element {
    text-align: center; }
    .aside__element:hover .aside__link::before {
      background-color: #ECB7AC;
      color: white;
      cursor: pointer; }
  .aside__link {
    font-size: 1.4em;
    font-family: "raleway", "Helvetica", Arial, sans-serif;
    font-weight: lighter;
    color: #ECB7AC; }
    .aside__link::before {
      display: block;
      font-family: "glyphs";
      font-size: 1.7em;
      text-align: center;
      margin-bottom: 0.5882352941em;
      line-height: 2.4em;
      border-radius: 50%;
      border: 1px solid #ECB7AC; }
    .aside__link--twitter::before {
      content: "\e90a"; }
    .aside__link--insta::before {
      content: "\e904"; }
    .aside__link--hellocoton::before {
      content: "\e909"; }
    .aside__link--facebook::before {
      content: "\e902"; }
    .aside__link--pinterest::before {
      content: "\e908"; }
  .aside__keyword {
    font-size: 1.6em;
    line-height: 2.0625em;
    padding: 0 2.0625em 1.625em 1.99em; }
  .aside__pointout {
    font-size: 1.5em;
    /*24px*/ }
  .aside__bold {
    font-weight: bolder;
    color: #C77083; }

/* BLOGBEAUTY
*
* /sass/components/mainArticle.scss - design of the Main Article stylesheet
*
* coded by Dylan Schirino
* started at 29/07/2016
*/
.share__element {
  width: 4.9em;
  height: 4.2em; }
  .share__element--twitter {
    background-color: #4099FF; }
  .share__element--facebook {
    background-color: #3D5B93; }
  .share__element--hellocoton {
    background-color: #D30D66; }

.share__link {
  display: block;
  transition: .2s ease-in; }
  .share__link:hover {
    transform: rotateZ(-15deg); }
  .share__link::before {
    display: block;
    text-align: center;
    font-family: "glyphs";
    font-size: 2em;
    line-height: 2em;
    color: white; }
  .share__link--twitter::before {
    content: "\e90a"; }
  .share__link--facebook::before {
    content: "\e902"; }
  .share__link--hellocoton::before {
    content: "\e909"; }

.latest__container {
  background-color: white;
  padding-left: 5.7em;
  padding-bottom: 3.5em; }

.latest__title {
  padding-top: 0.833em;
  font: 2.4em/1.5 "old_standard";
  text-transform: uppercase; }

.latest__list {
  font: 1.4em "raleway", "Helvetica", Arial, sans-serif; }

.latest__element {
  padding-top: 1em; }
  .latest__element--time {
    color: #C77083;
    padding-right: 2.4em; }
  .latest__element--like {
    font-size: 1.1428571429em; }
    .latest__element--like::after {
      content: "\e903";
      font: 1em "glyphs";
      color: #C77083; }

.latest__button {
  text-align: center;
  font: 1.6em "old_standard";
  line-height: 3em;
  text-transform: uppercase;
  background-color: black;
  border: 1px solid black;
  color: white;
  transition: .2s ease-in-out; }
  .latest__button:hover {
    background-color: white;
    border: 1px inset black;
    color: black; }

.sublist__element {
  color: #C77083; }

/* BLOGBEAUTY
*
* /sass/components/discover.scss - design of the Discover section stylesheet
*
* coded by Dylan Schirino
* started at 29/07/2016
*/
.moreArticle__title {
  font: 2.4em "old_standard";
  text-transform: uppercase; }

.moreArticle__container {
  background-color: #ECB7AC;
  transition: all .35s ease-in;
  display: inline-block; }

.moreArticle__link {
  display: block;
  color: black;
  z-index: 0; }
  .moreArticle__link:hover ~ .moreArticle__container {
    opacity: 0.9;
    transform: translateX(256px);
    display: block; }

.moreArticle__theme {
  text-align: center;
  font: 1.8em/1.4em "old_standard";
  text-transform: uppercase;
  color: white; }
  .moreArticle__theme::before {
    content: "\e901";
    font: 1.4em "glyphs";
    padding-right: 1em; }

.moreArticle__text {
  font-size: 1.4em; }

.moreArticle__titleCards {
  padding: 1.125em 0 0.875em 0;
  font: 1.6em/1.5 "old_standard";
  text-transform: uppercase; }

.moreArticle__list {
  font: 1.4em "raleway", "Helvetica", Arial, sans-serif; }

.moreArticle__element--comment {
  font-size: 1.1428571429em; }

.moreArticle__element--comment::before {
  content: "\e90b";
  font: 1.1em "glyphs";
  color: #C77083;
  padding: 0 0.2em 0 1.666em; }

.pagination__link {
  font: 1.8em "raleway", "Helvetica", Arial, sans-serif;
  color: #C77083;
  text-decoration: underline;
  padding-right: 1.8888em; }
  .pagination__link:hover {
    text-decoration: none; }

.pagination__element {
  font: 1.8em/2.3 "raleway", "Helvetica", Arial, sans-serif;
  border-radius: 50%;
  background-color: #C77083;
  color: white;
  text-align: center;
  transition: .2s ease-in; }
  .pagination__element:hover {
    background-color: white;
    color: #C77083;
    cursor: pointer; }

/* BLOGBEAUTY
*
* /sass/components/instagram.scss - design of the Instagram section stylesheet
*
* coded by Dylan Schirino
* started at 01/08/2016
*/

/*# sourceMappingURL=styles.css.map */